doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title Document

  body 
    header
      h1 hi
    main 
      div#welcome  
        form#roomForm
          input#roomInput(placeholder="room name",required,type="text")
          button enter room
      div#rooms
        ul
      div#room  
        form#nameForm
          input#nameInput
          button name
        h3
        ul 
        form#messageForm
          input#messageInput
          button send
    script(defer src="/socket.io/socket.io.js")
    script(defer src="/public/js/app.js")